@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&family=Oswald:wght@500&display=swap");
*{
  box-sizing: border-box; 
}
.hero_img {
  width: 100%;
  object-position: center;
  background-image: url("../Assets/Hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero_text {
  color: white;
  height: 100%;
  padding: 15% 5%;
  width: 100%;
}
.hero_heading {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
}
.hero_description {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 1px;
}

@media (max-width: 1220px) {
  .hero_heading {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
  }
}

@media (max-width: 780px) {
  .hero_text {
    padding: 10% 5%;  
  }
  .hero_heading {
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    line-height: 50px;
    letter-spacing: 3px;
  }
  .hero_description {
    font-size: 16px;
  }
}

@media (max-width: 580px){
    .hero_text {
        padding: 15% 5%;  
      }
      .hero_heading {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 3px;
      }
      .hero_description {
        font-size: 10px;
      }
}




